@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?64tmyt');
  src:  url('fonts/icomoon.eot?64tmyt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?64tmyt') format('truetype'),
    url('fonts/icomoon.woff?64tmyt') format('woff'),
    url('fonts/icomoon.svg?64tmyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-my_location:before {
  content: "\e55c";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-user:before {
  content: "\e900";
}
.icon-o:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-film:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-user-secret:before {
  content: "\e905";
}
.icon-c:before {
  content: "\e906";
}
.icon-mail-forward:before {
  content: "\e907";
}
.icon-eye:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-zo:before {
  content: "\e90a";
}
.icon-zi:before {
  content: "\e90b";
}
.icon-images:before {
  content: "\e90e";
}
.icon-x:before {
  content: "\e912";
}
.icon-op:before {
  content: "\e915";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-search:before {
  content: "\e986";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-f:before {
  content: "\ea90";
}
.icon-play2:before {
  content: "\ea15";
}

